*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html body {
    height: 100;
    width: 30;
} */

.mainContainer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    /* overflow-y: auto; */
}

/* ------------------------------------------------------------------------------------------- */

/* This CSS Property I have used for Scrollbar */

/* .groupContainer::-webkit-scrollbar {
    width: 10px;
}

.groupContainer::-webkit-scrollbar-track {
    background: #D9D9D9;
    border-radius: 10px;
}

.groupContainer::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
    border: 1.5px solid #D9D9D9;
    ;
} */

/* --------------------------------------------------------------------------------------------*/

.mainContainer h1 {
    font-family: 'Roboto';
    background-color: #ffffff;
    margin: 45px 20px 25px 20px;
    text-align: center;
}

.addGroupsButton {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: none;
    margin: 10px;
    position: fixed;
    background-color: #16008b;
    color: #ffffff;
    font-size: 70px;
    font-weight: 500;
    bottom: 20px;
    left: 20vw;
    align-self: flex-end;
    margin-right: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ----------------------------------------------------------------------------------------- */
/* Create Group Modal Section start */
#modalContent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    padding: 10px 30px 30px 30px;
    width: 740px;
    height: 317px;
    border-radius: 10px;
}

#modalContent h1 {
    text-align: start;
}

.modalWrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #2f2f2fbf;
}

.modalInput{
    display: flex;
    flex-direction: row;
    margin: 15px 15px 35px 20px;
}

.modalInput h2 {
    margin-right: 40px;
}

.modalInput input {
    width: 435px;
    height: 51px;
    border-radius: 20px;
    border: 2px solid #cccccc;
    padding: 0px 20px;
}

.modalChooseColor {
    display: flex;
    flex-direction: row;
    margin: 15px 15px 15px 20px;
}

.modalChooseColor h2 {
    margin-right: 80px
}

.chooseColorButton button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;

}

.firstButton {
    background-color: #B38BFA;
    margin: 0px 5px;
}
.secondButton {
    background-color: #FF79F2;
    margin: 0px 5px;
}
.thirdButton {
    background-color: #43E6FC;
    margin: 0px 5px;

}
.fourthButton {
    background-color: #F19576;
    margin: 0px 5px;
}
.fifthButton {
    background-color: #0047FF;
    margin: 0px 5px;
}
.sixthButton {
    background-color: #6691FF;
    margin: 0px 5px;
}

.createButton {
    float: right;
    height: 38px;
    width: 154px;
    background: #001F8B;
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    border: none;
    border-radius: 11px;

}
/* Create Group Modal Section End */
/* ----------------------------------------------------------------------------------------- */
@media (max-width:800px) {
    .mainContainer {
        width: 100vw;
        display: flex;
        /* flex-direction: column; */
        /* overflow-y: auto; */
        position: relative;
    }
}